VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkemtvcmZkaXh2dnZya2Z6cXpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3MzMxNTQsImV4cCI6MjA3MzMwOTE1NH0.n4DE8fB_6HrPBvhQkuISPbfHKyvI72QwTSNB3vFCrpQ"
VITE_SUPABASE_PROJECT_ID="edzkorfdixvvvrkfzqzg"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkemtvcmZkaXh2dnZya2Z6cXpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3MzMxNTQsImV4cCI6MjA3MzMwOTE1NH0.n4DE8fB_6HrPBvhQkuISPbfHKyvI72QwTSNB3vFCrpQ"
VITE_SUPABASE_URL="https://edzkorfdixvvvrkfzqzg.supabase.co"
